@import url(https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap);

@font-face {
	font-family: 'MyFonts';
	src: local('MyFonts'), url('./fonts/MyFonts.ttf') format('truetype');
	font-weight: bold;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'MyFonts';
	background-color: white;
}

h2{
	margin: 10px;
	font-size: 100px;
	@media only screen and (max-width: 600px) {
		font-size:50px;
	  }
}

h1{
	font-size: 180px;
	text-align: center;
	margin:0;
	@media only screen and (max-width: 600px) {
		font-size:90px;
	  }
}

svg {
	display: block;
}

span{
	font-size:40px;
	overflow-wrap: break-word;
	line-height: 1.5;
	text-align:center;
}

.app{
	font-family: 'MyFonts';
	font-size: 40px;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}